apiVersion: v1
kind: Secret
metadata:
  name: provider-spotify-example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "YOUR_API_KEY",
      "auth_server": "http://spotify-auth-proxy.spotify-auth-proxy.svc:27228"
    }
